div {
  background:white;
  margin-left:150px;
  margin-right:150px;
  padding:10px;
  box-shadow: 0px 0px 5px 5px teal;
  border-radius:10px;
  opacity:.85;
}

html {
  background:url("http://static.tumblr.com/29718091df19ee4fcb70ada4867023a2/7buo0fk/rRbmo5kye/tumblr_static_5035f24fe744f97d8d000001.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  font-family: 'Crimson Text', serif;
}

#profile_image {
  height:auto;
  width:200px;
  opacity:100%;
}

#devimg {
  width:400px;
  height:auto;
  opacity:.99;
}

.name_and_image {
  display:inline-block;
  font-weight:bold;
  font-size:50px;
  text-align:center;

}

#bio {
  width: 400px;
  height:100px;
}

img{
  margin-left:10px;
  margin-top:10px;
}

#github {
  padding:5px;
  border:2px solid black;
  color:black;
  margin-left:5px;
}

.header {
  display:inline-block;
  margin-right:30px;
  text-align:center center;
  font-size:125%;
}

nav {
  background-color:white;
  height:40px;
  margin-top:30px;
  margin-bottom:30px;
  box-shadow: 0px 0px 5px 5px teal;
  /*padding-top:1px;*/
  padding-bottom:20px;
  margin-left:100px;
  margin-right:100px;
  border-radius:10px;
  opacity:.85;
}

#logo {
  font-size:30px;
  color:turquoise;
  padding:5px;
  border: solid black 4px;
  barder-radius:10px;
}

a {
  color:black;
  font-family: 'Crimson Text', serif;
}

li {
  list-style-type:none;
}

h3 {
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
}

#name {
  border:2px solid black;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:10px;
  padding-right:10px;
  width:300px;
  margin-left:auto;
  margin:right:auto;
}

input {
  border-radius:15px;
  background-color:#E1E1E1;
  color:black;
  opacity:100%;
}
