<!DOCTYPE HTML>
<html>
<head>
  <title>Contacts</title>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <li class="header" id="logo">.sharkspace</li>
  <li class="header">
      <a href="/profile">My Profile</a>
  </li>
  <li class="header">
      <a href="/devteam">Dev Team</a>
  </li>
  <li class="header">
      <a href="/references">Coding Resources</a>
  </li>
  <li class="header">
      <a href="/contacts">Contacts</a>
  </li>
</ul><br>
</nav>
  <div id="main">
  <h3>Contacts: </h3><br>
  {% for students in student%}
    <a href="/elseprofile?user1={{students.name}}">{{students.name}}</a><br>
  {%endfor%}
</div></body>
</html>
