<!DOCTYPE HTML>
<html>
<head>
  <title>Dev Team</title>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <li class="header" id="logo">.sharkspace</li>
  <li class="header">
      <a href="/profile">My Profile</a>
  </li>
  <li class="header">
      <a href="/devteam">Dev Team</a>
  </li>
  <li class="header">
      <a href="/references">Coding Resources</a>
  </li>
  <li class="header">
      <a href="/contacts">Contacts</a>
  </li>
</ul><br>
</nav>
  <div>
  <h1>About the Dev Team</h1>
  <img id="devimg" src="https://41.media.tumblr.com/1e1e61c403fd0305e49d6f4a43ab8cd4/tumblr_nsnzwa76oZ1uyz43vo1_1280.jpg">
  <h3>The Programmers</h3>
  <ul>
    <li><strong>David Guadalupe</strong>: A Freshman Computer Science student at Pomona College. Once lived in the Brazilian Amazon for 2 weeks.</li>
    <li><strong>Cassidy Haas</strong>:A Freshman Computer Science student at the University of Colorado Boulder. Enjoys snowboarding, hiking, and Netflix. </li>
    <li><strong>Umama Ahmed</strong>: A Freshman Computer and Electrical Engineering student at Rutgers University. Once watched all 366 episodes of Bleach in less than a month.</li>
  </ul>
<p>This application was developed as the developers' culminating project while attending Google's 2015 Computer Science Summer Institute at Google NY. </p>
</div></body>
</html>
