<html>
    <head>
        <title>{{name}}'s Profile</title>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet" type="text/css">
    </head>
<body>
  <nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <li class="header" id="logo">.sharkspace</li>

  <li class="header">
      <a href="/devteam">Dev Team</a>
  </li>
  <li class="header">
      <a href="/references">Coding Resources</a>
  </li>
  <li class="header">
      <a href="/contacts">Contacts</a>
  </li>
</ul><br>
</nav>
<div>
<h1>Create a Profile</h1>



<form action="/signup" method ='post'>


  Your Name: <input type="text" name="name">
  <br>
  Profile Picture url:
  <input type="text" name="pic" value=""><br>
  <p> My College/ University: <input type="text" name ="school"> </p>
  <p> Year in School:

    <input type="radio" name="schoolyear" value="Freshman"> Freshman
    <input type="radio" name="schoolyear" value="Sophomore"> Sophmore
    <input type="radio" name="schoolyear" value="Junior"> Junior
    <input type="radio" name="schoolyear" value="Senior"> Senior

  </p>
  Github username:<input type="text" name="github" value="">
  Contact Email: <input type="text" name="email" value="">
  <p>  Language(s)  : </p>
    <input type="checkbox" name="java" value="java"> Java
    <br>
    <input type="checkbox" name="Python" value='Python'> Python
    <br>
    <input type="checkbox" name="HTML" value='HTML'> HTML
    <br>
    <input type="checkbox" name="Javascript" value='Javascript'> Javascript
    <br>
    <input type="checkbox" name="CSS" value='CSS'> CSS
    <br>
    <input type="checkbox" name="Cplus" value='C++'>C++
    <br>
    <input type="checkbox" name="Objective_C" value='Objective-C'> Objective-C
    <br>
    <input type="checkbox" name="ruby" value='ruby'>Ruby
   <br>
   Other:<input type="text" name="otherlang" value="">
  <p> Technical Skills </p>
  Skill: <input type="text" name="skill1" value="">
  <br>
  Skill: <input type="text" name="skill2" value="">
  <br>
  Skill: <input type="text" name="skill3" value="">
  <br>
  Skill: <input type="text" name="skill4" value="">
  <br>

  <p> Experience </p>
  Hackathons, Internships, etc:
  <br>
  <input type="type" name="activity" value="">
  <br>
<p> Short Bio: </p>
  <input type="text" name="bio" value="" id="bio">
  <br>
  <br>
    <input type="submit">
</form>
</div>
</body>
</html>
