<!DOCTYPE html>
<html>
<head>
  <title>Thanks</title>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <a href="/intro"><li class="header" id="logo">.sharkspace</li></a>
  <li class="header">
      <a href="/profile">My Profile</a>
  </li>
  <li class="header">
      <a href="/devteam">Dev Team</a>
  </li>
  <li class="header">
      <a href="/references">Coding Resources</a>
  </li>
  <li class="header">
      <a href="/contacts">Contacts</a>
  </li>
</ul><br>
</nav>
  <div>
  <h1>Thank you for Submitting!<h1>
    <a href='/profile'><button>Go to profile</button></a>
  </div></body>
  </html>
