<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome to .Sharkspace!</title>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <a href="/intro"><li class="header" id="logo">.sharkspace</li></a>
  <li class="header">
      <a href="/devteam">Dev Team</a>
  </li>
  <li class="header">
      <a href="/references">Coding Resources</a>
  </li>
  <li class="header">
      <a href="/contacts">Contacts</a>
  </li>
</ul><br>
</nav>
  <div>
  <h1>Welcome to .Sharkspace!</h1>
    <p>Sharkspace is a networking tool created to enable CS students to connect with others and collaborate on open source projects and hackathons.
   However, Sharkspace is more than just a networking tool. In addition to the networking feature, Sharkspace provides resources for programmers to help them learn new languages, debug, and find hackathons to participate in.
 To begin using, please click the link in the top left corner to sign in with your google account.</p>
</div></body>
</html>
